@charset "UTF-8";
#landing {
  /* Start primary section */
  /* End primary section */
  /* Start primary section */ }
  #landing html {
    height: 100%;
    width: 100%; }
  #landing body {
    width: 100%;
    height: 200%;
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif; }
  #landing .page-section {
    width: 100%;
    height: 50%; }
  #landing .front-element {
    position: relative;
    z-index: 999; }
  #landing h1 {
    font-size: 3em; }
  #landing .description {
    font-size: 2em;
    font-weight: bold; }
  #landing .up-ground {
    padding-bottom: 1em; }
  #landing .button-heavy {
    height: 2.2em;
    width: 10em;
    margin: 1.5em auto;
    font-size: 2em;
    line-height: 2em;
    border: 0.1em solid #333;
    cursor: pointer; }
    #landing .button-heavy:hover {
      background-color: rgba(255, 255, 255, 0.5); }
  #landing #content {
    margin-top: 3em; }
  #landing #primary-section .container {
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative; }
  #landing #primary-section .panel-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.4); }
    #landing #primary-section .panel-overlay .center-text {
      margin: 20% auto;
      text-align: center; }
  #landing #primary-section .event-show {
    position: fixed;
    width: 100%;
    height: 100%; }
    #landing #primary-section .event-show img {
      display: block;
      height: 100%; }
  #landing #secondary-section {
    position: relative; }
    #landing #secondary-section #register-form {
      position: relative;
      z-index: 999; }
    #landing #secondary-section #information {
      position: relative;
      z-index: 999;
      text-align: center;
      padding-top: 10em;
      background-color: rgba(255, 255, 255, 0.5);
      background-clip: content-box;
      opacity: 0;
      top: 5em; }
    #landing #secondary-section .button-heavy {
      background-color: rgba(255, 255, 255, 0.5);
      text-align: center;
      width: 6em;
      position: absolute;
      right: 1em;
      bottom: 0.5em;
      opacity: 0; }
      #landing #secondary-section .button-heavy:hover {
        background-color: rgba(255, 255, 255, 0.7); }
  @media (max-width: 600px) {
    #landing h1 {
      font-size: 2em; }
    #landing .description {
      font-size: 1.5em; }
    #landing .button-heavy {
      margin-top: 2em; } }

.inner-white.no-padding {
  padding: 0; }

img.slide-img {
  width: 100%;
  display: block; }

.thin-bar {
  padding-top: 2em; }

#map_canvas {
  height: 10em; }

.logo {
  height: 2em;
  position: absolute;
  left: 1em; }

#current-time {
  font-family: 'Tangerine', serif;
  font-size: 1.8em;
  color: #c3c3c3;
  text-align: center; }

#victorw-slide {
  display: none; }

.event-show-placeholder {
  padding: 0; }

.ticket-purchase #shipping-methods .radio label {
  font-size: 1.5em; }
.ticket-purchase #shipping-detail-mail {
  display: none; }
.ticket-purchase #order-info {
  display: none; }
.ticket-purchase #ticket-form .table td, .ticket-purchase #ticket-form .table th, .ticket-purchase #order-summary .table td, .ticket-purchase #order-summary .table th {
  vertical-align: middle;
  text-align: center; }
.ticket-purchase #ticket-form .table input, .ticket-purchase #order-summary .table input {
  text-align: center; }
.ticket-purchase #ticket-form .table tr, .ticket-purchase #order-summary .table tr {
  height: 4em; }
.ticket-purchase #ticket-form .error, .ticket-purchase #order-summary .error {
  color: red; }
.ticket-purchase #ticket-form input.error, .ticket-purchase #order-summary input.error {
  border: 1px solid red; }
.ticket-purchase #ticket-form .table-total, .ticket-purchase #order-summary .table-total {
  font-size: 2em;
  height: 3em; }
  .ticket-purchase #ticket-form .table-total td, .ticket-purchase #ticket-form .table-total th, .ticket-purchase #order-summary .table-total td, .ticket-purchase #order-summary .table-total th {
    padding: 0.5em; }

/*# sourceMappingURL=main.css.map */
